@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    --first-color: hsl(14, 98%, 50%);
    --black-color: hsl(0, 0%, 0%);
    --black-color-light: hsl(0, 0%, 40%);
    --white-color: hsl(0, 0%, 95%);
    --title-color: hsl(0, 0%, 0%);
    --text-color-light: hsl(0, 0%, 64%);
    --container-color: hsl(0, 0%, 83%);
    
    --text-color: #EBE9FC;
    --header-color: #010104;
    --button-color: #020024;
    --primary-color: #3A31D8;
    --accent-color: #0600C2;
    --grey: #18181a;
    --grey2: #0f0f0f;
    --static-gray: rgb(22, 22, 22);
}

/*=============== BODY ===============*/
html, .body {
    height: 100%;
    font-family: "Roboto Mono";
    background-color: var(--header-color);
}

body {
    background-color: var(--header-color);
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.5rem;
    min-height: 100%;
    margin: 0;
    display: block;
}

/*========== Header ==========*/

* {
    box-sizing: border-box;
}
.header {
    display: block;
}

/*========== nav ==========*/
.nav-page-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}

.nav-container {
    height: 56px; /* Set the height of the nav bar to 56px */
    width: 100%; /* Set the width of the nav bar to 100% */
    max-width: 1380px; /* Set the maximum width of the nav bar to 1380px */
    margin-right: auto;
    margin-left: auto;
    display: flex;
    position: relative;
}

.nav_brand-link.w--current {
    margin-right: 20px;
}

.nav_menu {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.w-nav-menu {
    float: right;
    position: relative;
}

.nav_left-wrapper {
    margin-top: .5rem;
    display: flex;
}

.nav_link-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.nav_link {
    color: var(--text-color);
    padding: 12px 0;
    font-family: Roboto Mono;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: all .3s;
}

.w-nav-link {
    vertical-align: top;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
}

.nav_link-line {
    background-color: var(--button-color);
    width: 0%;
    height: .125rem;
    margin-left: auto;
    margin-right: auto;
    transition: all .2s;
    position: absolute;
    inset: auto 0% 0%;
}

.nav_right-wrapper {
    align-items: flex-end;
    margin-top: .5rem;
    display: flex;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.nav {
    position: fixed;
}
/*=============== main ===============*/

/*========== footer ==========*/
.footer {
    height: 56px; /* Set the height of the footer to match the nav bar */
    width: 100%; /* Set the width of the footer to 100% */
    max-width: 1380px; /* Set the maximum width of the footer to 1380px */
    left: 50%; /* Centering the footer horizontally */
    bottom: 0;
    text-align: center;
    background-color: var(--button-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 10px 30px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
}

header, nav, section, footer {
    display: flex;
    margin: 10px;
    padding: 0px;
    font-family: "Roboto Mono";
}

.padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.padding-right {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.padding-xhuge {
    padding: 8rem;
}

.padding-xmiddle {
    padding: 4rem;
}

.padding-small {
    padding: 1rem;
}

/*=============== weird button ===============*/
.button_contact-me {
    padding: 10px 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    color: var(--text-color);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: .375rem;
}

.button_contact-me::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--button-color);
    left: 0;
    top: 0;
    border-radius: 10px;

}

.button_contact-me::before {
    content: "";
    background: linear-gradient(
      45deg,
      #0600C2, #3A31D8, #0600C2, #3A31D8,
      #0600C2, #3A31D8, #0600C2, #3A31D8
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }

  .button_contact-me:hover::before {
    opacity: 1;
  }
  
  .button_contact-me:active:after {
    background: transparent;
  }
  
  .button_contact-me:active {
    color: #000;
    font-weight: bold;
  }


.heading-xlarge {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Roboto Mono;
    font-weight: 600;
    font-size: 4.25rem;
    color: var(--text-color);
    text-align: center;
    line-height: 5rem;
}

.heading-xnormal {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Roboto Mono;
    font-weight: 600;
    font-size: 2.25rem;
    color: var(--text-color);
    text-align: center;
    line-height: 5rem;
}

.heading-xsmall {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Roboto Mono;
    font-weight: 600;
    font-size: 2.25rem;
    color: var(--text-color);
    text-align: center;
    line-height: 1rem;
}

.text-size-medium {
    font-size: 1.5rem;
    color: var(--text-color);
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: Roboto Mono;
    font-weight: 400;
    line-height: 2.125rem;
    text-align: center;
    text-decoration: none;
}

.text-size-medium .max-width-large {
    width: 100%;
    max-width: 48rem;
}

.max-width-short {
    width: 100%;
    max-width: 20rem;
}

.max-width-medium {
    width: 100%;
    max-width: 28rem;
}

.padding-bottom .padding-small {
    padding-top: 0;
    padding-bottom: 1rem;
}

.padding-bottom .padding-xhuge {
    padding-top: 0;
    padding: 8rem;
}

.padding-xmedium {
    padding-top: 0;
    padding: 2rem;
}

.padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.main-wrapper {
color: var(--text-color);
font-family: Roboto Mono;
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
}

.section_home-header {
    background-color: var(--header-color);
    flex-direction: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: center;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: auto;
    margin-top: 0;
    display: block;
    position: static;
}

.padding-global {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
}

.align-center {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.containter-large-new {
    width: 100%;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 0;
}

.home-header-component {
    z-index: 0;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
}

.padding-large {
    padding: 3rem;
}

.video {
    transform: translateX(-110px) translatey(20px) rotate(-20deg); /* Adjust the values as needed */
}

/* Add this CSS animation for the "text-animation" class */
@keyframes textFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.text-animation {
    opacity: 0; /* Initially hide the text */
    animation: textFadeIn 1s ease-in-out 2s forwards;

}

.container {
position: relative;
display: flex;
justify-content: center;
align-items: center;
max-width: 1200px;
flex-wrap: wrap;
z-index: 1;
}

.container .card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0 0.5);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255 0.5);
    border-left: 1px solid rgba(255, 255, 255 0.5);
    backdrop-filter: blur(5px);
}

.container .card .content {
    padding: 20px;
    text-align: center;
    transition: 0.5;
}

.container .card .content h2 {
position: relative;
text-align: center;
    font-size: 2.25rem;
    color: var(--text-color);
    pointer-events: none;
    line-height: 3rem;
    font-weight: 600;
    font-family: Roboto Mono;
    margin-top: 0;
    margin-bottom: 2rem;
}

.background {
    background-color: var(--button-color);
    padding: 40px;
    border-radius: 15px;
}

.container .card .content a {
    position: relative;
    text-align: center;
    font-size: 1rem;
    color: var(--text-color);
    line-height: 5rem;
    font-family: Roboto Mono;
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 12px;
    }

    .container .card .content a:hover {
        position: relative;
        text-align: center;
        font-size: 1rem;
        color: var(--text-color);
        line-height: 5rem;
        font-family: Roboto Mono;
        margin-top: 0;
        margin-bottom: 0;
        background-color: var(--primary-color);
        padding: 10px;
        border-radius: 12px;
        }
    
.social-link {
    display: flex;
    position: relative;
    justify-content: center;


}

.boxing {
    background-color: var(--primary-color);
    border-radius: 12px;
    padding: 2rem;
    text-align: left;
    width: 60%;
    font-family: Inter;
    margin-left: 15px;
    margin-top: 15px;
}

.boxing2 {
    background-color: var(--accent-color);
    border-radius: 12px;
    padding: 2rem;
    text-align: left;
    width: 40%;
    font-family: Inter;
    margin-left: 15px;
    margin-top: 15px;
}

.boxing3 {
    background-color: var(--button-color);
    border-radius: 12px;
    padding: 2rem;
    text-align: left;
    width: 100%;
    font-family: Inter;
    margin-left: 15px;
    margin-top: 15px;
}

.boxing4 {
    background-color: var(--accent-color);
    border-radius: 12px;
    padding: 0.25rem;
    text-align: center;
    width: 8%;
    font-family: Inter;
    margin-left: 15px;
    margin-top: 15px;
    justify-content: center;
    justify-items: center;
}

.text-left {
    text-align: left;
}

.inline {
    line-height: 0.5rem;
}

.width-more {
    font-weight: 700;
    line-height: 1.5;
}

.box-boxing {
    display: flex;
}

.box-boxing .img-cozy {
    margin: 0 auto;
    margin-top: 15px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

/*========== Sllideshow ==========*/

.prev, .next {
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 3.25rem;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-top: 2rem;
    padding-left: 1.625rem;
    padding-right: 1.625rem;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    border-radius: 12px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.sliceclicks {
    display: flex;
}

.boxing5 {
    background-color: var(--accent-color);
    border-radius: 12px;
    padding: 2rem;
    text-align: left;
    width: 20%;
    font-family: Inter;
    margin-left: 15px;
    margin-top: 15px;
}

.boxing6 {
    background-color: var(--primary-color);
    border-radius: 12px;
    padding: 2rem;
    text-align: left;
    width: 80%;
    font-family: Inter;
    margin-left: 15px;
    margin-top: 15px;
}